<div class="contact-container world">
  <div class="form-box">
    <h1>Contact Us</h1>
    <form>
      <div class="input-group">
        <input type="text" id="name" required>
        <label for="name">Your Name</label>
      </div>

      <div class="input-group">
        <input type="email" id="email" required>
        <label for="email">Your Email</label>
      </div>

      <div class="input-group">
        <textarea id="message" rows="4" required></textarea>
        <label for="message">Your Message</label>
      </div>
      <button type="submit" class="btn">Send Message</button>
    </form>
  </div>
</div>